app/fpb/schemas/FPD_Visual_Extension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.fpbjs.net/visual"
    xmlns:visual="http://www.fpbjs.net/visual"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>
            FPB.js Visual Extension Schema for VDI/VDE 3682
            Tool-specific visual layout information for diagram elements
        </xs:documentation>
    </xs:annotation>

    <!-- ========================================== -->
    <!-- Global Attribute Definitions               -->
    <!-- ========================================== -->

    <!-- Position and size attributes -->
    <xs:attribute name="x" type="xs:double">
        <xs:annotation>
            <xs:documentation>X-coordinate position in the diagram canvas (pixels)</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <xs:attribute name="y" type="xs:double">
        <xs:annotation>
            <xs:documentation>Y-coordinate position in the diagram canvas (pixels)</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <xs:attribute name="width" type="xs:double">
        <xs:annotation>
            <xs:documentation>Width of the visual element (pixels)</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <xs:attribute name="height" type="xs:double">
        <xs:annotation>
            <xs:documentation>Height of the visual element (pixels)</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <!-- Display state attributes -->
    <xs:attribute name="visible" type="xs:boolean" default="true">
        <xs:annotation>
            <xs:documentation>Visibility state of the element</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <xs:attribute name="collapsed" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>Collapse state for hierarchical elements</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <!-- Flow routing attribute -->
    <xs:simpleType name="waypointsType">
        <xs:annotation>
            <xs:documentation>
                Comma-separated coordinate pairs, space-separated.
                Format: "x1,y1 x2,y2 x3,y3 ..."
                Example: "100,200 150,250 200,300"
                Supports negative values and decimals: "-50.5,100.25 200,-75"
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(-?\d+(\.\d+)?,-?\d+(\.\d+)?)?(\s+-?\d+(\.\d+)?,-?\d+(\.\d+)?)*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:attribute name="waypoints" type="visual:waypointsType">
        <xs:annotation>
            <xs:documentation>Coordinate pairs for flow routing (validated format)</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <!-- ========================================== -->
    <!-- Attribute Groups                           -->
    <!-- ========================================== -->

    <xs:attributeGroup name="positionAttributes">
        <xs:annotation>
            <xs:documentation>
                Position and size attributes for graphical elements.
                Applicable to: state, processOperator, technicalResource, systemLimit
            </xs:documentation>
        </xs:annotation>
        <xs:attribute ref="visual:x"/>
        <xs:attribute ref="visual:y"/>
        <xs:attribute ref="visual:width"/>
        <xs:attribute ref="visual:height"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="displayAttributes">
        <xs:annotation>
            <xs:documentation>
                Display state attributes for controlling element visibility.
                Applicable to: state, processOperator, technicalResource, systemLimit
            </xs:documentation>
        </xs:annotation>
        <xs:attribute ref="visual:visible"/>
        <xs:attribute ref="visual:collapsed"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="flowRoutingAttributes">
        <xs:annotation>
            <xs:documentation>
                Routing attributes for flow connections.
                Applicable to: flow (within flowContainer)
            </xs:documentation>
        </xs:annotation>
        <xs:attribute ref="visual:waypoints"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="allVisualAttributes">
        <xs:annotation>
            <xs:documentation>
                Combined group of all visual attributes for convenience.
                Use positionAttributes, displayAttributes, or flowRoutingAttributes for more specific needs.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute ref="visual:x"/>
        <xs:attribute ref="visual:y"/>
        <xs:attribute ref="visual:width"/>
        <xs:attribute ref="visual:height"/>
        <xs:attribute ref="visual:visible"/>
        <xs:attribute ref="visual:collapsed"/>
        <xs:attribute ref="visual:waypoints"/>
    </xs:attributeGroup>

</xs:schema>
